body {
  background-color: #f7f7f7;
  color: #333;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #006400; /* Dark green */
  color: #fff;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  color: #fff;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 1em;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

main {
  padding: 2em;
  max-width: 1200px;
  margin: 0 auto;
}

form {
  background-color: #006400; /* Dark green */
  color: #fff;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

form input,
form textarea {
  display: block;
  margin-bottom: 1em;
  padding: 0.5em;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

form button {
  padding: 0.5em 1em;
  border: none;
  background-color: #333;
  color: #fff;
}

#itemList {
  display: flex;
  flex-wrap: wrap;
}

#itemList li {
  background-color: #006400; /* Dark green */
  color: #fff;
  padding: 1em;
  border-radius: 5px;
  margin: 1em;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  position: relative; /* Add this */
  flex-basis: 300px; /* Add this */
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f00;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  padding: 0;
  cursor: pointer;
}

/* For the About page */

.about-section {
  max-width: 900px;
  margin: 0 auto;
  padding: 2em;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.about-section h1 {
  font-size: 2.5em;
  margin-bottom: 1em;
  text-align: center;
  color: #006400; /* Dark green */
}

.about-section p {
  font-size: 1.2em;
  line-height: 1.6em;
  color: #444;
  padding: 1em;
  border-bottom: 1px solid #f0f0f0;
}

.about-section img {
  max-width: 100%;
  display: block;
  margin: 2em auto;
  border-radius: 10px;
}
